/* vim: set expandtab ts=4 sw=4: */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    background-color: #222;
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100vh;
}

#stage {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    top: 25vh;
    width: 100%;
    height: 50vh;
}

#stage:-webkit-full-screen{
    top: 0;
    height: 100%;
}

#stage:fullscreen {
    top: 0;
    height: 100%;
}

#stage > * {
    display: none;
    position: relative;
    background-color: #222;
    z-index:0;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

#stage > *.current {
    z-index: 255;
    display: block;
}

#stage > img {
    margin: 0 auto;
    width: auto;
}

::-webkit-media-controls {
  display:none !important;
}
