/* vim: set expandtab ts=4 sw=4: */

html {
    background-color: #222;
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100vh;
}

buffered-stage {
    display: block;
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
    top: 25vh;
    width: 100%;
    height: 50vh;
}

buffered-stage > * {
    display: none;
    position: relative;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

buffered-stage > *.current {
    display: block;
}

buffered-stage > img {
    margin: 0 auto;
    width: auto;
}